.designers_header {
    padding: 50px 0;
    h1  {
        color: #fff;
        font-weight: 400;
        font-size: 48px;
        line-height: 63px;
        span  {
            color: #939CAB;
            font-weight: 300;
        }
    }
    h2  {
        font-weight: 700;
        font-size: 36px;
        line-height: 67px;
        color: #FFFFFF;
        margin-top: 50px;
    }
    .designer_info {
        display: flex;
        // align-items: center;
        gap: 40px;
        margin-top: 50px;
        h3 { 
            color: #fff;
            font-weight: 700;
            font-size: 24px;
            line-height: 45px;
            margin-bottom: 6px;
        }
        p {
            color: #fff;
            font-weight: 400;
            font-size: 20px;
            line-height: 28px;
        }
        .designers_cat {
            display: flex;
            align-items: center;
            gap: 15px;
            margin-top: 30px;
            span  {
                display: block;
                width: fit-content;
                padding: 5px 20px;
                // height: 35px;
                background: #192B49;
                border: 1px solid #344156;
                border-radius: 65px;
                font-weight: 400;
                font-size: 16px;
                line-height: 30px;
                color: #FFFFFF;
                text-align: center;
            }
        }
    }
}