.bunner {
     display: flex;
     gap: 40px;
     margin-bottom: 50px;
     img {
        width: 100% !important;
        border-radius: 15px;
        height: 330px !important;
        position: unset !important;
     }
     @media (max-width: 600px) {
      img {
         margin-bottom: 20px;
         aspect-ratio: 1/1;
         height: unset;
      }
     }
}