.channel_header {
    padding: 80px 0;
    .channel_header_content {
        margin: 0 auto;
        width: 60%;
        color: #fff;
        text-align: center;
        
        h1 { 
            font-weight: 700;
            font-size: 55px;
            line-height: 63px;
        }
        p {
            font-weight: 400;
            font-size: 24px;
            line-height: 36px;
            width: 80%;
            margin: 0 auto;
            margin-top: 30px;
        }
    }
    @media (max-width: 600px) {
        padding-right: 20px;
        padding-left: 20px;
        .channel_header_content {
            margin: 0 auto;
            width: 100%;
            color: #fff;
            text-align: center;
            h1 { 
                font-weight: 700;
                font-size: 32px;
                line-height: 42px;
            }
            p {
                font-weight: 400;
                font-size: 18px;
                line-height: 28px;
                width: 100%;
                margin: 0 auto;
                margin-top: 30px;
            }
        }
    }
}

.header_channel {
    height: 233px;
    img {
        height: 100%;
        width: 100%;
        display: block;
        position: unset !important;
        object-fit: cover;
    }
}
.text_sub {
    font-weight: 400;
    font-size: 18px;
    line-height: 34px;
    color: #939CAB !important;
}

.channel_info {
    img {
        margin-top: -70px;
    }
    .channel_info_name {
        @media (max-width: 600px) {
            padding: 0 !important;
            text-align: center !important;
        }
    }
}