.login_btn {
    background-color: transparent;
    display: flex;
    align-items: center;
    gap: 10px;
    color: #fff;
    border: none;
    outline: none;
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    @media (max-width: 480px) {
        width: fit-content;
        display: block;
        width: 30px;
        span {
            &:last-of-type {
                display: none !important;
            }
        }
    }
}

.useProfile {
    background-color: transparent;
    display: flex;
    align-items: center;
    gap: 10px;
    color: #fff;
    border: none;
    outline: none;
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    position: relative;
    cursor: pointer;
    span { 
        min-width: 20px;
        height: 20px;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #E15C42;
        position: absolute;
        top: -5px;
        left: -10px;
        padding: 0px;
        font-size: 1em;
        line-height: 0;
    }
    p {
        margin-bottom: 0;
    }
    @media (max-width: 480px) {
        p {
            display: none !important;
        }
        span {
            &:last-of-type {
                display: none !important;
            }
        }
        img {
            width: 35px;
            height: 35px;
        }
    }




    .dropdown {
        position: absolute;
        width:181px;
        background-color: #192B49;
        top: 230%;
        left: -24px;
        border-radius: 5px;
        &::after{
            content: "";
            position: absolute;
            left: 13%;
            top: -13px;
            width: 0;
            height: 0;
            border-left: 16px solid transparent;
            border-right: 16px solid transparent;
            border-bottom: 14px solid #192B49;
            z-index: 99999;
        }
        .dot {
            position: relative;
            &::after {
                content: '';
                display: block;
                width: 10px !important;
                height: 10px !important;
                border-radius: 50%;
                background-color: #E15C42;
                position: absolute;
                top: 50%;
                left: 80%;
                transform: translateY(-50%);
            }
        }
        button { 
            background-color: transparent;
            color: #fff;
            border: none ;
            width: 100%;
            height: 47px;
            font-weight: 400;
            font-size: 16px;
            line-height: 16px;
            display: flex;
            justify-content: start;
            gap: 10px;
            align-items: center;
            padding-left: 20px;
            transition: all 0.2s linear;
            border-radius: 0 0 5px 5px ;
            position: relative;
            
            &:first-of-type {
                border-bottom: 1px solid #071C3E;
                border-radius: 5px 5px 0 0;
               
            }
            &:hover {
                background-color: #233A5F;
                
            }
        }
        @media (max-width: 480px) {
            top: 188%;
            left: -123px;
            &::after{
                left: 68%;
                top: -13px;
            }
        }
    }
}